site_name: DAG Factory
site_url: https://astronomer.github.io/dag-factory

repo_url: https://github.com/astronomer/dag-factory
repo_name: astronomer/dag-factory

theme:
  name: material
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - navigation.sections
    - navigation.tabs
    - navigation.footer
    - navigation.indexes
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow

extra:
  version:
    provider: mike

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      check_paths: true
      base_path: [ "." ]
  - pymdownx.superfences

nav:
  - Home: index.md
  - Getting started:
      - getting-started/quick-start-airflow-standalone.md
      - getting-started/quick-start-astro-cli.md
  - Configuration:
      - configuration/configuring_workflows.md
      - configuration/environment_variables.md
      - configuration/defaults.md
  - Features:
      - features/dynamic_tasks.md
  - Comparison:
      - comparison/index.md
      - comparison/traditional_operators.md
      - comparison/taskflow_api.md
  - Contributing:
      - contributing/code_of_conduct.md
      - contributing/contributors.md
      - contributing/howto.md
      - contributing/roles.md

plugins:
  - mike:
      alias_type: symlink
  - search
